:root {
  --marazul-blue-dark: #002d5f;
  --marazul-blue-royal: #0056b3;
  --marazul-red: #e31e24;
  --marazul-white: #ffffff;

  --bg-light: #f4f7f9;
  --text-main: #1a1a1a;
  --text-muted: #555555;

  --hover-blue: #004494;
  --hover-red: #c1191f;

  --title: 26px;
  --subtitle: 20px;
  --paragraph: 16px;
  --btn-text: 12px;

  --radius-p: 4px;
  --radius-m: 8px;
  --radius-g: 16px;
  --shadow-soft: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
