.gap-costum{
    gap: 20rem;
    row-gap: 2rem;
}

.gap-card{
    gap: 5rem;
}


.main-title {
    font-family: "Playfair Display", serif;
    font-size: 96px;
    color: var(--marazul-white);
    line-height: 1.1;
    text-align: center;
}


.text-color{
  color: var(--marazul-white);

}